.profile-content {
    padding: 0;
    margin-top: 1.5rem;
    font-size: 15px;

    .profile-bottom {
        margin: 0 0.1rem 0 0.1rem;

        .content-sidebar {
            background-color: #F1F2FC;
            padding: 0;
            border-right: 30px white solid;
            max-height: 58vh;

            .side-nav {
                color: black;
                margin: auto;
                line-height: 3rem;

                &:hover {
                    background-color: #EDEDED;
                }

            }

            .nav-active {
                background-color: #EDEDED;
                font-weight: bold;
            }

            .side-logout {
                margin-top: 9rem;

                &:hover {
                    background-color: #F1F2FC;
                    color: red;
                }
            }
        }

        .content-data {
            background-color: #F1F2FC;
            padding: 1.5rem;
            margin-bottom: 2rem;

            .data-image {
                .image-add {
                    overflow: hidden;
                    position: relative;

                    input {
                        position: absolute;
                        height: 400px;
                        width: 400px;
                        left: -200px;
                        top: -200px;
                        background: transparent;
                        opacity: 0;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: alpha(opacity=0);
                    }

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }

                .image-text {
                    margin: auto;
                    margin: auto 0 auto -2.2rem;
                }
            }

            .data-user {
                margin-top: 1rem;

                .user-right {
                    .mb-3 {
                        .right-textbox {
                            height: 120px;
                        }
                    }

                    .btn-primary {
                        background-color: #5C79C5;
                        border: none;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}